.status-row {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  #gameStatus {
    text-align: center;
    display: flex;
    justify-content: center;
    
  }
  .wonStatus {
    color : #00ffff;
  }
  
  .lostStatus {
    color : #eb6536;
  }
  .newStatus {
    color: rgb(236, 233, 233);
  }

  @media only screen and (max-width: 768px) {
    .status-row { width: 100%; }
  }