.header {
    background-color: #00ffff;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1rem;
  }
  .titleRow {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .instructionsTitle {
    display: inline;
    color: #00ffff;
    font-size: 1.3rem;
  }
  .instructionsRow {
    margin: 0 auto;
    width: 30%;
  }
  
  .instructionsText {
    padding: 0.3rem;
    color: #ffffff;
  }

  @media only screen and (max-width: 768px) {
    .instructionsRow { width: 90%; }
    .instructionsTitle {width: 90%; }
  }
  @media only screen and (min-width: 769px) and (max-width: 1440px) {
    .instructionsRow { width: 70%; }
    .instructionsTitle {width: 70%; }
  }