/* :root {
    --def-padding: 8px;
    --def-margin: 8px;
    --def-font-size: 16px;
} */
html {
  font-size: 16px;
}

body {
  background-color: #010165;
  margin: 0px;
  font-family: 'Work Sans';
  
}







@media only screen and (max-width: 768px) {
  html { font-size: 20px; }
 
  .play-chart { width: 100%; }
  .status-row { width: 100%; }
  .instructions-row { width: 90%; }
  .instructions-title {width: 90%; }

}

